:root {
  --primary: #ff4d6d;
}

.couple-fullscreen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.couple-wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items:end;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.side-image {
  width: 300px;
}

.side-image img {
  max-width: 100%;
  height: auto;
}

.form-box {
  max-width: 500px;
  flex: 1;
  background: #fff;
  padding: 40px;
  text-align: center;
}

.form-box h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

.form-box p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.genderSec{
  margin-bottom: 20px !important;
}
.Age-section{
  margin-top:23px;
/* display: grid; */
}
.form-group {
  margin-bottom: 5px;
  text-align: left;
}
.form-group1{
  display: flex;
}

.radio-group {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.radio-btn {
  border: 1px solid #ccc;
  padding: 8px 20px;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.radio-btn.active {
  background-color: var(--primary);
  color: #fff;
  border-color: var(--primary);
}

.age-range {
  display: flex;
  gap: 10px;
  align-items: center;
}

.age-range input {
  width: 55px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
}
.countrySec{
  display: grid;
  padding:20px;
      margin-top: auto;

}

.find-btn {
  margin-top: 20px;
  background: linear-gradient(90deg, #ff4d6d, #ff7980);
  border: none;
  padding: 12px 28px;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}




/* RESPONSIVE STYLES */
.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}

@media (max-width: 400px){
  .mobile-image img {
    margin-top: 60px;
  }
}




@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .mobile-image img {
    margin-top: 60px;
}

  .couple-fullscreen {
    height: 75vh;
  }
  .mobile-only {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 400px;
  }

  .mobile-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .couple-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .form-box {
    width: 100%;
    max-width: 100%;
    padding: 0 50px;
    
  }

  .form-box h1 {
    font-size: 20px;
  }

  .form-box p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .radio-btn {
    font-size: 14px;
    padding: 6px 14px;
  }

  .age-range input {
    width: 60px;
  }

  .find-btn {
    width: 100%;
    font-size: 14px;
  }
}
