@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');:root {
  --bg: #E8385C;
  --gray-light: #888;
  --font-family:  "Pacifico", cursive;
  --bg2 : rgb(236 229 230);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  overflow-x: hidden !important;
}
/* 
.breadcrumb-all{
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: black;
  color: white;
}

.breadcrumb-item{
  color: black !important;
}
 
.breadcrumb-item a{
color: black !important;
text-decoration: none !important;
} */

.hero-section {
  background-image: url('/Desktop.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.theme-bg{
  background-color: var(--bg) !important;
}

.login-btn {
  color: white;
  text-decoration: none;
  background-color:#FC0004;
  padding: 10px 15px;
  border-radius: 21px;
  font-weight: 600;
  border: none;
}

.register-btn {
  color: var(--bg);
  font-weight: 600;
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
  border-radius: 21px;
  border: none;
}


.age-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/age-bg1.png');
  /* height: 100vh; */
  /* width: 100%; */
  background-size: cover;
  background-position: center;
}

.age-form-overlay {
  background-color: rgba(0, 0, 0, 0.575);
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.age-form-main {
  background-color: white;
  padding: 40px;
  text-align: center;
}

.age-form-main h2 {
  font-size: 40px;
  color: black;
  font-weight: 700;
}

.age-form-main p {
  margin: 0;
  font-size: 20px;
  color: var(--gray-light);
  font-weight: 600;
}

.btn-yes {
  background-color: var(--bg);
  border: none;
  color: white;
  font-weight: 600;
  padding: 5px 20px;
  font-size: 20px;
}

.btn-no {
  background-color: var(--gray-light);
  border: none;
  color: white;
  font-weight: 600;
  padding: 5px 20px;
  font-size: 20px;
}

.cube .face {
  backface-visibility: hidden;
}

.cube .front {
  transform: rotateY(0deg) translateZ(200px);
}
.cube .back {
  transform: rotateY(180deg) translateZ(200px);
}
.cube .right {
  transform: rotateY(90deg) translateZ(200px);
}
.cube .left {
  transform: rotateY(-90deg) translateZ(200px);
}
.cube .top {
  transform: rotateX(90deg) translateZ(200px);
}
.cube .bottom {
  transform: rotateX(-90deg) translateZ(200px);
}

.profile{
  margin-top:100px;
    background-color: rgb(236 229 230);
    padding: 1rem 0rem;
}

